

<ion-content>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="danger" (click)="cerrarModal()" >
          <ion-icon name="md-close"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <div style="text-align: center;">
          <p>Ultimo Log: <b>{{noticias}}</b> del rack <b>{{rack}}</b></p>
        </div>
      <ion-list>

        <div  *ngFor="let item of datos" >

          <div *ngIf="item.id_usuario == 5; else elseBlock">

            <div style="text-align: right;">
              <ion-card style="width: 60%; margin-left: 40%" color="primary">
           
                   <h5 style="padding: 2vw; font-size: 4vw;">{{item.mensaje}}</h5>
             </ion-card>
            </div>

          </div>



          <ng-template #elseBlock>
              <div style="text-align: left;">
                  <ion-card style="width: 60%; margin-right: 40%;">
               
                       <h5 style="padding: 2vw; font-size: 4vw;">{{item.mensaje}}</h5>
                 </ion-card>
                </div>
          </ng-template>

        </div>
        
      </ion-list>

      
    

</ion-content>

<ion-footer >
  <ion-toolbar color="primary">
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col size="9">
            <ion-input [(ngModel)]="mensaje" placeholder="Ej. Revisa el Rack s33s"></ion-input>
        </ion-col>
        <ion-col>
         <ion-button (click)="enviarMensaje()" color="light">
            <ion-icon color="primary" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>