.cardProducto{
    text-align: center;
  }

  .botonBorrar{
    width: 70px;
    background: red;
  }

  .iconoborrar{
    font-size: 36px;
    color: white;
  }

  .spanSerie{
    font-size: 18px;
  }
  .spanEstado{
    font-size: 16px;
  }
  .divSerie{
    height: 102px;
    display: grid;
    margin-top: 8px;
  }